# Ignore EVERYTHING by default
*

# Allow Deno Server Files
!main.ts
!api/
!api/**

# Explicitly ignore everything else (redundant but safe)
python_client/
dist/
build/
deploy/
encoder/
utilities/
*.py
*.bat
*.spec
*.txt
